<html ng-app="livescore">
<head>
    <title>Livescore</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <script src="livescore.js"></script>
    <link rel="stylesheet" type="text/css" href="livescore.css">
</head>

<body ng-controller="LivescoreController" ng-keypress="keypress($event)">

<table class="scoreTable">
    <col width="30%">
    <col width="20%">
    <col width="20%">
    <col width="30%">
    <tr>
        <td colspan="1" class="teamName">{{teams[0].name}}</td>
        <td colspan="2" rowspan="2" class="timer">
            {{mins | numberFixedLen: 2 }}:{{secs | numberFixedLen: 2}}
        </td>
        <td colspan="1" class="teamName">{{teams[1].name}}</td>
    </tr>
    <tr>
        <td colspan="1" class="totalScore">{{teams[0].total}}</td>

        <td colspan="1" class="totalScore">{{teams[1].total}}</td>
    </tr>

    <tr ng-repeat="p in points" class="missoins">
        <td colspan="1" ng-if="p.updated[0]" class="updated scoresLeft scores">{{p.team[0]}}</td>
        <td colspan="1" ng-if="!p.updated[0]" class="scoresLeft scores">{{p.team[0]}}</td>

        <td colspan="2" class="missionName">{{p.name}}</td>

        <td colspan="1" ng-if="p.updated[1]" class="updated scoresRight scores">{{p.team[1]}}</td>
        <td colspan="1" ng-if="!p.updated[1]" class="scoresRight scores">{{p.team[1]}}</td>
    </tr>

    <div style="position:absolute; left: 0; top: 0" ng-if="keyMode"> X </div>

</table>
</body>
</html>
